<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR">

    <Appenders>
        <Console name="Console_Appender" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>
        </Console>
        <File name="File_Appender" fileName="logs/logfile.log">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>
        </File>
        <RollingFile name="RollingFile_Appender" fileName="logs/rollingfile.log" filePattern="logs/archive/rollingfile.log.%d{yyyy-MM-dd-hh-mm}.gz">
            <PatternLayout pattern="[%-5p] %d{yy-MM-dd HH:mm:ss} [%C{2}][%M][%L] - %m%n" />
            <Policies>
                <Policies>
                    <SizeBasedTriggeringPolicy size="10000KB" />
                </Policies>
            </Policies>
            <DefaultRollOverStrategy max="30"/>
        </RollingFile>
    </Appenders>

    <loggers>
        <Root level="INFO" >
            <appender-ref ref="Console_Appender" />
            <appender-ref ref="RollingFile_Appender"/>
            <appender-ref ref="File_Appender"/>
        </Root>

        <!-- log4j2 -->
        <logger name="log4jdbc.log4j2" level="error" additivity="false">
            <appender-ref ref="Console_Appender" />
        </logger>

        <!-- QUERY LOG -->
        <logger name="jdbc.sqlonly" additivity="false" level="info">
            <appender-ref ref="Console_Appender" />
        </logger>

        <!-- RESULTSET TABLE -->
        <logger name="jdbc.resultsettable" additivity="false" level="off"/>

        <!-- query + time -->
        <logger name="jdbc.sqltiming" level="info">
            <appender-ref ref="Console_Appender" />
            <appender-ref ref="RollingFile_Appender"/>
            <appender-ref ref="File_Appender"/>
        </logger>

        <!-- 전체 로그 ( 양 상당히 많아짐 ) -->
        <logger name="jdbc.audit" level="off"/>

        <!-- resultsettable + resultset (parameter) -->
        <logger name="jdbc.resultset" level="off"/>

        <!-- connection log -->
        <logger name="jdbc.connection" level="error">
            <appender-ref ref="Console_Appender" />
            <appender-ref ref="RollingFile_Appender"/>
            <appender-ref ref="File_Appender"/>
        </logger>
    </loggers>
</Configuration>